.title {
  font-weight: bold;
  font-size: 1.2em; 
  color: white;
}
h1 {
  text-align: center;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
.container{
  text-align: center;
  padding: 20px;
}
.card {
  display: inline-block;
  vertical-align: top;
  font-family: system-ui;
  background: #61a3af;
  color: white;
  text-align: center;
  width: 180px;
  height: 240px;
  margin: 10px;
  padding: 10px;
  position: relative;
}
.priority{
  color: rgb(157, 150, 150);
  background: #f6f5f6;
}
.lowpriority{
  color: rgb(157, 150, 150);
  background: hsl(60, 98%, 49%);
}
.mediumpriority{
  color: rgb(157, 150, 150);
  background: #3cab3e;
}
.highpriority{
  color: rgb(157, 150, 150);
  background: #f0990c;
}
button {
  border: none;
  border-radius: 3px;
  font-style: italic;
  font-size: 0.8em;
  margin: 4px 6px;
  width: 50px;
  height: 25px;
}
.doneButton {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: green;
}
.deleteButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: red;
}
.lowpriority {
  background-color: #5e14bf;
  border-left: 5px solid #111ad1;
}
.mediumpririty{
  background-color: #103fe9;
  border-left: 5px solid #c8b11f;
}
.highpriority{
  background-color: #df680c;
  border-left: 5px solid #e94b07;
}
.taskcontainer{
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=text], input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

form {
  text-align: left;
  width: 50%;
  margin: auto;
}
div {
  padding: 20px;
}